
<div class="section">
	<div class="container"></div>
</div>
<div class="section">
	<div class="background-image"
		style="background-image: url('img/footer.png')"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="#"> <img src="img\logo.png"
					class="center-block img-responsive" />
				</a>
			</div>
			<div class="col-md-9 text-right" id="login">
				<form class="form-inline" role="form" ng-submit="submitLoginForm()">
					<div class="form-group">
						<div class="col-sm-2">
							<label for="inputEmail3" class="control-label">Email</label>
						</div>
						<div class="col-sm-10 text-right">
							<input type="email" class="form-control" id="loginEmail"
								placeholder="Email" ng-model="user.username" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-2">
							<label for="inputPassword3" class="control-label">Password</label>
						</div>
						<div class="col-sm-10 text-right">
							<input type="password" class="form-control" id="loginPassword"
								placeholder="Password" ng-model="user.password" />
						</div>
					</div>
					<div class="form-inline">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label> <input type="checkbox" /> Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-sm btn-success">Sign
								in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"
						src="https://www.youtube.com/embed/ScLlgq94Dl8" allowfullscreen=""></iframe>
				</div>
			</div>
			<div class="col-md-6" id="signup">
				<form role="form" class="text-left" ng-submit="submitSignupForm()">
					<div class="form-group">
						<label class="control-label">First
							name</label> <input class="form-control" id="registerFirstName"
							placeholder="First Name" type="text" ng-model="fields.firstname" />
					</div>
					<div class="form-group">
						<label class="control-label">Last
							Name</label> <input class="form-control" id="registerLastName"
							placeholder="Last Name" type="text" ng-model="fields.lastname" />
					</div>
					<div class="form-group">
						<label class="control-label">Email
							address</label> <input class="form-control" id="registerEmail"
							placeholder="Enter email" type="email" ng-model="fields.email" />
					</div>
					<div class="form-group">
						<label class="control-label">Password</label>
						<input class="form-control" id="registerPassword1"
							placeholder="Password" type="password"
							ng-model="fields.password1" />
					</div>
					<div class="form-group">
						<label class="control-label">Re
							enter Password</label> <input class="form-control" id="registerPassword2"
							placeholder="Password" type="password"
							ng-model="fields.password2" />
						<div>{{2/3}}</div>
					</div>
					<button type="submit" class="btn btn-lg btn-success">SignUp</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</div>
</div>
<footer class="section">
	<div class="background-image"
		style="background-image: url('img/footer.png')"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>cobweb.io - social network of things</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisici elit, <br /> sed
					eiusmod tempor incidunt ut labore et dolore magna aliqua. <br />
					Ut enim ad minim veniam, quis nostrud
				</p>
			</div>
			<div class="col-sm-6">
				<p class="text-info text-right">
					<br /> <br />
				</p>
				<div class="row">
					<div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
						<a href="#"> <i
							class="fa fa-3x fa-fw fa-instagram text-inverse"></i>
						</a> <a href="#"> <i
							class="fa fa-3x fa-fw fa-twitter text-inverse"></i>
						</a> <a href="#"> <i
							class="fa fa-3x fa-fw fa-facebook text-inverse"></i>
						</a> <a href="#"> <i class="fa fa-3x fa-fw fa-github text-inverse"></i>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 hidden-xs text-right">
						<a href="#"> <i
							class="fa fa-3x fa-fw text-inverse fa-google-plus"></i>
						</a> <a href="#"> <i
							class="fa fa-3x fa-fw fa-twitter text-inverse"></i>
						</a> <a href="#"> <i
							class="fa fa-3x fa-fw fa-facebook text-inverse"></i>
						</a> <a href="#"> <i class="fa fa-3x fa-fw fa-github text-inverse"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>