.title {
  font-size: 50px !important;
  position: relative;
  bottom: 20px;
  left: 35px;
}

.login-textfield {
  width: 190px!important;
}

.signin-form {
  padding-top: 3%;
}

.mdl-layout__drawer-button i{
  margin-top: 10px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.card-list {
  margin-bottom: 5px;
  background-color: white;
}

.card {
  height: 200px;
}

.dp-col {
  float: left;
  height: 200px;
  width: 150px;
}

.body-col {
  width: 350px;
  float: left;
  position: relative;
}

.device-list {
  text-align: center;
  color: #fff;
}

.user-name {
  position: absolute;
  top: 10px;
}

#user-name-button {
  color: rgb(77, 77, 77);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
}

.device-list-title {
  background-color: #2ecc71!important;
  width: 100%;
  height: 50px;
}

.mdl-cell--5-col ul {
  list-style-type: none;
}

.device-title {
  position: absolute;
  top: 35px;
}

#device-name-button {
  color: rgb(133, 133, 133);
}

.device-title-text {
  color: rgb(123, 123, 123);
  font-size: 16px!important;
}

.list-title-text {
	position: relative;
  top: 10px;
}

.sensor-title {
	position: absolute;
  top: 35;
}

#sensor-device-name-button {
  color: rgb(134, 134, 134);
  font-weight: 600;
}

#sensor-name-button {
  color: rgb(179, 179, 179);
  font-size: 12;
  font-weight: 400;
}

.message {
  position: absolute;
  top: 75px;
}

.time {
  position: absolute;
  left: 270px;
  top: 175px;
}

.form {
  margin-top: 2%;
}

.main-view {
  width: 100%;
  background-color: #f5f5f5;
}

.spinner {
  margin-top: 20%;
  margin-left: 50%;
}

.top-textbox{
	border: 0;
	height: 30px;
	padding: 0 10px 0 10px;
	font-size: 18px;
	margin: 12px 6px 12px 6px;
	width: 200px;
	border-radius: 2px;
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.89);
	background-repeat: no-repeat;
	background-position: 10px center;
}


header md-toolbar {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

footer {
    padding: 16px;
}

md-content#main.md-blue-theme {
    background-color: #ececec;
}

md-card {
    background-color: #ffffff;
}

.profile-pic {
  width: 80px;
  height: 80px;
  margin-top: 14px;
  margin-left: 12px;
}

#main {
    width: 100%;
}

.content {
    min-width: 70%;
    max-width: 680px;
}
md-card.news-item{
	margin: 8px 0 8px 8px;

}

.news-item-title{
	margin-bottom: 0;

	color: rgba(0,0,0,0.87);
	line-height: .75em;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .01em
}

.news-item-footer {
	margin: 2px 0 0 5px;
	color: rgba(119, 119, 119, 0.87);
	font-size: 13px;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 24px;
}

.md-body-1.news-item-description{
	margin-top:0px;
	font-size: 13px;
}

/*Login styles*/

.remember-me {
  position: relative;
  bottom: 10px;
}

.logo {
  position: relative;
  bottom: 20px;
  left: 37px;
}

.submit-btn {
  right: 20px;
}

.login-fields {
  float: left;
  position: relative;
  bottom: 13px;
  left: 106px;
}

.error-email {
  float: right;
  margin-top: 4%;
}

.email-block, .pswd-block, .pswd-cnfm-block {
  float: left;
}

.pswd-block {
  position: relative;
}

.error-pswd {
  position: absolute;
  left: 400px;
  top: 475px;
}

.error-pswd-length {
  position: absolute;
  left: 400px;
  top: 400px;
}

.signup-btn {
  position: absolute!important;
  background-color: rgb(68, 138, 255)!important;
  color: rgb(255, 255, 255)!important;
  left: 25;
}

.mdl-checkbox__box-outline {
  background-color: white;
  border: none!important;
}

.signup-card {
  height: 600px!important;
}

.signup-card-btn {
  position: absolute;
  bottom: 50px;
}

/*Profile*/

.unfriend-button {
  left: 59px;
  top: 83px;
  background-color: rgb(233, 30, 99)!important;
}

.profile-card {
  width: 100%!important;
  margin-bottom: 15px;
}

.drop-down-item {
  background-color: rgb(221, 220, 220);
}

.drop-down-heading {
  background-color: #2ecc71;
  color: white !important;
  height: 65px !important;
}

.drop-down-header-text {
  position: relative;
  font-size: large;
}

.add-device-button {
  background-color: #E91E5A!important;
  left: 392px;
  bottom: 4px;
}

.drop-down-table {
  text-transform: uppercase;
}

.profile-grid {
  height: 88%;
}

.user-data-grid {
  width: 100%;
  position: relative;
}

.image-border {
  padding-right: 20px;
  border-right: 1px solid rgba(0,0,0,.1);
}

.profile-user-name {
  font-size: 28px;
  position: absolute;
  top: 50px;
  left: 300px;
}

.device-table {
  width: 100%;
}

.card-list-container {
  margin: 0!important;
  float: right;
  width: 49.95%!important;
}

.card-table {
  margin: 0;
  padding: 0;
}

.device-card-list {
  width: 100%!important;
}

.item-table-container {
  float: left;
  margin: 0!important;
}

.item-card {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  height: 100px;
  background-color: white;
}

.item-name {
  font-size: 24px!important;
}

.item-id {
  color: rgb(98, 98, 98);
  font-size: 12px!important;
}

.item-type {
  font-size: 18px!important;
}

.item-description {
  font-size: 18px!important;
}

.follow-btn {
  position: absolute!important;
  right: 10px;
  top: 5px;
}

.profile-card-list {
  padding: 0;
}

.profile-payload-card{
  margin-bottom: 5px;
  width: 100%!important;
}

.payload-id {
  position: relative;
  left: -145px;
  top: 176px;
}

.notification-list-title {
  width: 100%!important;
  min-height: 0px!important;
  height: 50px;
  background-color: #2ecc71!important;
}

.accept-btn {
  position: absolute!important;
  right: 100px;
  top: 5px;
}

.subscription-request {
  width: 60%;
  text-align: left;
}

.items-container {
  position: relative;
  top: 135px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.create-item-form {
  margin-left: 25px;
  margin-top: 15px;
}

.create-button {
  position: relative;
  top: 10px;
}

.notification-badge {
  margin-left: 100%;
}

/*
Search
*/

.closed {
  display: none;
}

.opened {
  display: block;
  padding-left: 10px;
  border: 1px solid #C3D0DB;
  line-height: 25px;
  background-color: #fff;
  cursor: pointer;
  width: 345px;
  position: absolute;
  top: 30px;
  left: -1px;
  color: black;
  list-style-type: none;
}

.typeahead-dropdown {
  height: 60px;
  margin-top: 6px;
  border-bottom: 1px solid antiquewhite;
}

.typeahead-text {
  position: relative;
  top: 25px;
}

.typeahead-button {
  float: right;
  position: inherit!important;
  margin-left: 76px;
}

.searchbox {
  position: relative;
  right: 100px;
}

.typeahead-dp {
  float: left;
}
