<form name="createItemForm" ng-controller="UserCtrl" class="create-item-form" novalidate>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
    <input type="radio" id="option-1" class="mdl-radio__button" name="options" ng-model="createItemType" value="device" checked />
    <span class="mdl-radio__label">Create Device</span>
  </label><br>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
    <input type="radio" id="option-2" class="mdl-radio__button" name="options" ng-model="createItemType" value="sensor" />
    <span class="mdl-radio__label">Create Sensor</span>
  </label>
  <div ng-show="createItemType == 'device'">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="device.name" required/>
      <label class="mdl-textfield__label">Name </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="device.description" required/>
      <label class="mdl-textfield__label">Description </label>
    </div>
    <div>
      <select ng-model="device.type" ng-options="type as type for type in deviceTypes" required>
        <option value="" disabled>Select device type</option>
      </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield" ng-show="device.type == 'OTHER'">
      <input class="mdl-textfield__input" type="text" ng-model="device.other" required/>
      <label class="mdl-textfield__label">Other type </label>
    </div>
  </div>
  <div ng-show="createItemType == 'sensor'">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="sensor.name" required/>
      <label class="mdl-textfield__label">Name </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="sensor.description" required/>
      <label class="mdl-textfield__label">Description </label>
    </div>
    <div>
      <select ng-model="sensor.type" ng-options="type as type for type in sensorTypes" required>
        <option value="" disabled>Select sensor type</option>
      </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield" ng-show="sensor.type == 'OTHER'">
      <input class="mdl-textfield__input" type="text" ng-model="sensor.other" required/>
      <label class="mdl-textfield__label">Other type </label>
    </div>
    <div>
      <select ng-model="sensor.parentDeviceId" ng-options="device.id as device.name for device in parentDeviceLst" required>
        <option value="" disabled>Select parent device</option>
      </select>
    </div>
  </div>
  <button ng-show="createItemType == 'device'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent create-button" ng-click="createDevice(device)">Create</button>
  <button ng-show="createItemType == 'sensor'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent create-button" ng-click="createSensor(sensor)">Create</button>
</form>