
 <!-- Google Analytics Tracking -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script',
        '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-67473058-1', 'auto');
    ga('send', 'pageview');
    </script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//130.211.242.208/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//130.211.242.208/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

<form name="createItemForm" class="create-item-form" novalidate>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
    <input type="radio" id="option-1" class="mdl-radio__button" name="options" ng-model="createItemType" value="device" checked />
    <span class="mdl-radio__label">Create Device</span>
  </label><br>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
    <input type="radio" id="option-2" class="mdl-radio__button" name="options" ng-model="createItemType" value="sensor" />
    <span class="mdl-radio__label">Create Sensor</span>
  </label>
  <div ng-show="createItemType == 'device'">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="device.name" required/>
      <label class="mdl-textfield__label">Name </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="device.description" required/>
      <label class="mdl-textfield__label">Description </label>
    </div>
    <div>
      <select ng-model="device.type" ng-options="type as type for type in deviceTypes" required>
        <option value="" disabled>Select device type</option>
      </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield" ng-show="device.type == 'OTHER'">
      <input class="mdl-textfield__input" type="text" ng-model="device.other" required/>
      <label class="mdl-textfield__label">Other type </label>
    </div>
  </div>
  <div ng-show="createItemType == 'sensor'">
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="sensor.name" required/>
      <label class="mdl-textfield__label">Name </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" ng-model="sensor.description" required/>
      <label class="mdl-textfield__label">Description </label>
    </div>
    <div>
      <select ng-model="sensor.type" ng-options="type as type for type in sensorTypes" required>
        <option value="" disabled>Select sensor type</option>
      </select>
    </div>
    <div class="mdl-textfield mdl-js-textfield" ng-show="sensor.type == 'OTHER'">
      <input class="mdl-textfield__input" type="text" ng-model="sensor.other" required/>
      <label class="mdl-textfield__label">Other type </label>
    </div>
    <div>
      <select ng-model="sensor.parentDeviceId" ng-options="item.device.id as item.device.name for item in items" required>
        <option value="" disabled>Select parent device</option>
      </select>
    </div>
  </div>
  <button ng-show="createItemType == 'device'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent create-button" ng-click="createDevice(device); closeThisDialog()">Create</button>
  <button ng-show="createItemType == 'sensor'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent create-button" ng-click="createSensor(sensor); closeThisDialog()">Create</button>
</form>