<md-content id="main" layout="vertical" layout-align="center">

<div class="demo-grid-1 mdl-grid profile-grid" >
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col" >

    <div class="mdl-cell mdl-cell--6-col item-table-container device-list" ng-show="dataLoaded">
      <li class="mdl-card mdl-shadow--2dp notification-list-title">
          <span class="list-title-text">Device Subscription requests</span>
      </li>

      <ul class="profile-card-list">

        <li class="mdl-shadow--2dp device-card-list" ng-hide="devices.length">
          <div layout="row" class="item-card">
            <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
              <span id="user-name-button" href=""> No new notifications</span>
            </div>
          </div>
        </li>

        <li class="mdl-shadow--2dp device-card-list" ng-repeat="item in devices">
          <div ng-repeat="subscriber in item.subscriber">
            <div layout="row" class="item-card", ng-hide="subscriber.requestSent">
              <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
                <span id="user-name-button" href=""> {{subscriber.name}} has sent a subscription request to {{ item.name}} sensor</span>
              </div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent accept-btn" ng-click="acceptSubscription(subscriber.subscriberId, item.id, subscriber)">Accept</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent follow-btn" ng-click="rejectSubscription(subscriber.subscriberId, item.id, subscriber)">Reject</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="mdl-cell mdl-cell--6-col item-table-container device-list">
      <li class="mdl-card mdl-shadow--2dp notification-list-title">
          <span class="list-title-text">Sensor Subscription requests</span>
      </li>
      <ul class="profile-card-list">

        <li class="mdl-shadow--2dp device-card-list" ng-hide="sensors.length">
          <div layout="row" class="item-card">
            <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
              <span id="user-name-button" href=""> No new notifications</span>
            </div>
          </div>
        </li>

        <li class="mdl-shadow--2dp device-card-list" ng-repeat="item in sensors">
          <div ng-repeat="subscriber in item.subscriber">
            <div layout="row" class="item-card", ng-hide="subscriber.requestSent">
              <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
                <span id="user-name-button" href=""> {{subscriber.name}} has sent a subscription request to {{ item.name}} sensor</span>
              </div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent accept-btn" ng-click="acceptSubscription(subscriber.subscriberId, item.id, subscriber)">Accept</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent follow-btn" ng-click="rejectSubscription(subscriber.subscriberId, item.id, subscriber)">Reject</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="items-container">
      <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp device-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Items</th>
            </tr>
          </thead>
          <tbody>
        </table>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp device-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Items</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="item in items" ng-init="showSensors=false">
              <td class="mdl-data-table__cell--non-numeric" href="" ng-click="showSensors=!showSensors; loadDeviceList(item.device.name)">{{item.device.name}}</td>
            </tr>
            <tr ng-repeat-end ng-show="showSensors" ng-repeat="sensor in item.sensors">
              <td class="mdl-data-table__cell--non-numeric" ng-click="loadSensorList(sensor.name)">{{sensor.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mdl-cell mdl-cell--6-col"></div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>

</md-content>
