<md-content id="main" layout="vertical" layout-align="center">

<div class="demo-grid-1 mdl-grid profile-grid" >
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col" >

    <div class="mdl-cell mdl-cell--6-col item-table-container device-list" ng-show="dataLoaded">
      <li class="mdl-card mdl-shadow--2dp notification-list-title">
          <span class="list-title-text">Device Subscription requests</span>
      </li>

      <ul class="profile-card-list">

        <li class="mdl-shadow--2dp device-card-list" ng-hide="devices.length">
          <div layout="row" class="item-card">
            <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
              <span id="user-name-button" href=""> No new notifications</span>
            </div>
          </div>
        </li>

        <li class="mdl-shadow--2dp device-card-list" ng-repeat="item in devices">
          <div ng-repeat="subscriber in item.subscriber">
            <div layout="row" class="item-card", ng-hide="subscriber.requestSent">
              <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
                <span id="user-name-button" href=""> {{subscriber.name}} has sent a subscription request to {{ item.name}} sensor</span>
              </div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent accept-btn" ng-click="acceptSubscription(subscriber.subscriberId, item.id, subscriber)">Accept</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent follow-btn" ng-click="rejectSubscription(subscriber.subscriberId, item.id, subscriber)">Reject</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="mdl-cell mdl-cell--6-col item-table-container device-list">
      <li class="mdl-card mdl-shadow--2dp notification-list-title">
          <span class="list-title-text">Sensor Subscription requests</span>
      </li>
      <ul class="profile-card-list">

        <li class="mdl-shadow--2dp device-card-list" ng-hide="sensors.length">
          <div layout="row" class="item-card">
            <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
              <span id="user-name-button" href=""> No new notifications</span>
            </div>
          </div>
        </li>

        <li class="mdl-shadow--2dp device-card-list" ng-repeat="item in sensors">
          <div ng-repeat="subscriber in item.subscriber">
            <div layout="row" class="item-card", ng-hide="subscriber.requestSent">
              <div class="mdl-typography--headline mdl-typography--headline-color-contrast subscription-request">
                <span id="user-name-button" href=""> {{subscriber.name}} has sent a subscription request to {{ item.name}} sensor</span>
              </div>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent accept-btn" ng-click="acceptSubscription(subscriber.subscriberId, item.id, subscriber)">Accept</button>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent follow-btn" ng-click="rejectSubscription(subscriber.subscriberId, item.id, subscriber)">Reject</button>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <div class="items-container">
      <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp device-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Create New Item</th>
            </tr>
          </thead>
          <tbody>
        </table>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp demo-card-wide">
          <form name="createItemForm" ng-controller="ItemsCtrl" class="create-item-form" novalidate>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
              <input type="radio" id="option-1" class="mdl-radio__button" name="options" ng-model="createItemType" value="device" checked />
              <span class="mdl-radio__label">Create Device</span>
            </label><br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
              <input type="radio" id="option-2" class="mdl-radio__button" name="options" ng-model="createItemType" value="sensor" />
              <span class="mdl-radio__label">Create Sensor</span>
            </label>
            <div ng-show="createItemType == 'device'">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="device.name" required/>
                <label class="mdl-textfield__label">Name </label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="device.description" required/>
                <label class="mdl-textfield__label">Description </label>
              </div>
              <div>
                <select ng-model="device.type" ng-options="type as type for type in deviceTypes" required>
                  <option value="" disabled>Select device type</option>
                </select>
              </div>
              <div class="mdl-textfield mdl-js-textfield" ng-show="device.type == 'OTHER'">
                <input class="mdl-textfield__input" type="text" ng-model="device.other" required/>
                <label class="mdl-textfield__label">Other type </label>
              </div>
            </div>
            <div ng-show="createItemType == 'sensor'">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="sensor.name" required/>
                <label class="mdl-textfield__label">Name </label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" ng-model="sensor.description" required/>
                <label class="mdl-textfield__label">Description </label>
              </div>
              <div>
                <select ng-model="sensor.type" ng-options="type as type for type in sensorTypes" required>
                  <option value="" disabled>Select sensor type</option>
                </select>
              </div>
              <div class="mdl-textfield mdl-js-textfield" ng-show="sensor.type == 'OTHER'">
                <input class="mdl-textfield__input" type="text" ng-model="sensor.other" required/>
                <label class="mdl-textfield__label">Other type </label>
              </div>
              <div>
                <select ng-model="sensor.parentDeviceId" ng-options="device.id as device.name for device in parentDeviceLst" required>
                  <option value="" disabled>Select parent device</option>
                </select>
              </div>
            </div>
            <button ng-show="createItemType == 'device'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent create-button" ng-click="createDevice(device)">Create</button>
            <button ng-show="createItemType == 'sensor'" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent create-button" ng-click="createSensor(sensor)">Create</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>

</md-content>
