<!-- MAIN CONTENT -->
<md-content id="main" layout="vertical" layout-align="center">

<div flex="10"></div>

<div class="demo-grid-1 mdl-grid"  ng-show="newsLoaded">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--5-col">
    <ul>
        <div class="device-list">
            <li class="mdl-card mdl-shadow--2dp demo-card-wide device-list-title">
                <span class="list-title-text">Devices</span>
            </li>
        </div>
        <li class="mdl-card mdl-shadow--2dp demo-card-wide card-list" ng-repeat="item in deviceLst">
            <div layout="row" class="card">
                <div class="dp-col">
                    <img class="round-face" src="http://placekitten.com/g/48/48"/>
                </div>
                <div class="body-col">
                    <div class="mdl-typography--headline mdl-typography--headline-color-contrast user-name">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" id="user-name-button"> {{ item.userName }} </a>
                    </div>
                    <div class="device-title">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" id="device-name-button">{{ item.name }}</a>
                    </div>
                    <div class="message">{{ item.msg }}</div>
                    <span class="news-item-datetime time" am-time-ago="item.time"></span>
                </div>
            </div>
        </li>
    </ul>

  </div>
  <div class="mdl-cell mdl-cell--5-col">
    <ul>
        <div class="device-list" ng-show="newsLoaded">
            <li class="mdl-card mdl-shadow--2dp demo-card-wide device-list-title">
                <span class="list-title-text">Sensors</span>
            </li>
        </div>
        <li class="mdl-card mdl-shadow--2dp demo-card-wide card-list" ng-repeat="item in sensorLst">
            <div layout="row" class="card">
                <div class="dp-col">
                    <img class="round-face" src="http://placekitten.com/g/48/48"/>
                </div>
                <div class="body-col">
                    <div class="mdl-typography--headline mdl-typography--headline-color-contrast user-name">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" id="user-name-button"> {{ item.userName }} </a>
                    </div>
                    <div class="sensor-title">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" id="sensor-name-button">{{ item.name }}</a>
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect" id="sensor-device-name-button"> {{item.deviceName}}</a>
                    </div>
                    <div class="message">{{ item.msg }}</div>
                    <span class="news-item-datetime time" am-time-ago="item.time"></span>
                </div>
            </div>
        </li>
    </ul>

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>



<div flex="10"></div>


</md-content>
