<!-- MAIN CONTENT -->
<md-content id="main" layout="vertical" layout-align="center">

<div flex="10"></div>

<div class="demo-grid-1 mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <ul>
        <li class="mdl-card mdl-shadow--2dp demo-card-wide card-list" ng-repeat="item in news">
            <div layout="row" class="card">
                <div class="dp-col">
                    <img class="round-face" src="http://placekitten.com/g/48/48"/>
                </div>
                <div class="body-col">
                    <h3 class="news-item-title name">{{ item.id }}</h3>
                    <div class="message">{{ item.message }}</div>
                    <h4 class="news-item-datetime time">{{ item.dateTime }}</h4>
                </div>
            </div>
        </li>
    </ul>

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <ul>
        <li class="mdl-card mdl-shadow--2dp demo-card-wide card-list" ng-repeat="item in news">
            <div layout="row" class="card">
                <div class="dp-col">
                    <img class="round-face" src="http://placekitten.com/g/48/48"/>
                </div>
                <div class="body-col">
                    <h3 class="news-item-title name">{{ item.id }}</h3>
                    <div class="message">{{ item.message }}</div>
                    <h4 class="news-item-datetime time">{{ item.dateTime }}</h4>
                </div>
            </div>
        </li>
    </ul>

  </div>
</div>



<div flex="10"></div>


</md-content>
